@model IEnumerable<Entities.Entities.Event>
<div class="panel panel-primary">
    <div class="panel-heading">
        Events
    </div>



    <div class="panel-body fixed-panel">
        @if (Model.ToList().Count > 0)
        {
            <table class="table table-bordred table-striped">
                <thead>
                <tr>
                    <th>Type</th>

                    <th>Date</th>

                    <th>Info</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var e in Model)
                {

                    <tr class="table-row">
                        @if (Model != null)
                        {
                            if (e.EventType != null)
                            {
                                <th>@e.EventType.Name</th>
                            }

                            <th>@e.Created</th>

                            <th class="event-info" data-id="@e.Id"><i class="fa fa-info-circle" aria-hidden="true" style="cursor: pointer;"></i></th>
                        }
                    </tr>
                }
                </tbody>
            </table>}
        else
        {
            <p>No events</p>
        }
    </div>

</div>