<div class="panel panel-primary" style="margin-right: 1px;">
    <div class="panel-heading">
        RAM details
    </div>

    <div class="panel-body fixed-panel no-padding">
        <div id="ram-unavailable" style="display:none;"><b><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></b></div>
        <div id="ram-available">
            <div class="row">
                <div class="col-md-6">
                    <div class="canvas-pie-container">
                        <canvas class="box-shadow padding-canvas" id="canvas-ram"></canvas>
                    </div>
                </div><div class="col-md-6">
                    <div class="ram-text-container">
                        <p id="ram-unavailable-text"></p>
                        <p id="ram-available-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
