
<div class="panel panel-primary" style="margin-right: 1px;">
    <div class="panel-heading">
        Temperature details
    </div>
    <div class="panel-body fixed-panel no-padding">
        <div id="temperature-unavailable" style="display:none;"><b><i class="fa fa-ban" aria-hidden="true"></i></b></div>
        <div id="temperature-available">
         
                    <canvas id="canvas-Temp-gauge"></canvas>
                
    
        </div>
    </div>
</div>