
<div class="panel panel-primary" style="margin-right: 1px;">
    <div class="panel-heading">
        Temperature details
    </div>
    <div class="panel-body fixed-panel no-padding">
        <div id="temperature-unavailable" style="display:none;"><b><i class="fa fa-ban" aria-hidden="true"></i></b></div>
        <div id="temperature-available"  >
         
                    <canvas id="canvas-Temp-gauge"  style="bottom: 0;top: 0;left: 0;right: 0;margin: auto;position: absolute"></canvas>
                
    
        </div>
    </div>
</div>