
<div class="panel panel-primary" style="margin-right: 1px;">
    <div class="panel-heading">
        Temperature  & CPU details
    </div>
    <div class="panel-body fixed-panel no-padding">
        <div id="temperature-unavailable" style="display:none;"><b><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></b></div>
        <div id="temperature-available"  >
            <div>
                <canvas id="canvas-Temp-gauge" class="gauge"></canvas><p class="gauge-temp-header">Temperature</p>
            </div>
            <div>
                <canvas id="canvas-cpu-gauge" class="gauge"></canvas><p class="gauge-cpu-header">CPU</p>
            </div>
            </div>
       
    </div>
</div>