@model Entities.Entities.Server
@{
    ViewBag.Title = "Contact";
}

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

    <dd>
        @Html.DisplayFor(model => model.)
    </dd>
    </dl>
 </div>