@model IEnumerable<Entities.Entities.Server>
@{
    ViewBag.Title = "Home Page";
}

<h1>Servers</h1>

    <table>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerName)
                </td>
            </tr>
           
        }
    </table>
